# volatile folders
.[Aa]rchive/
.tmp/
# .archive/*
# .tmp/*

# php
composer.phar
phpDocumentor.phar
vendor/
.phpdoc/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
