{% extends 'base.html.twig' %}

{% block title %}New AdminNote{% endblock %}

{% block body %}
    <h1>Create new AdminNote</h1>

    {{ include('admin_note/_form.html.twig') }}

    <a href="{{ path('admin_note_index') }}"class="btn btn-light btn-lg btn-block">back to list</a>
{% endblock %}
