{% extends 'base.html.twig' %}

{% block title %}Edit JobSector{% endblock %}

{% block body %}
    <h1>Edit JobSector</h1>

    {{ include('job_sector/_form.html.twig', {'button_label': 'Update'}) }}

    <a 
      href="{{ path('job_sector_index') }}" 
      class="btn btn-light btn-lg btn-block"
    >
      back to list
    </a>

    {{ include('job_sector/_delete_form.html.twig') }}
{% endblock %}
