<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      media="screen,projection"
    />
    {% block stylesheets %}{% endblock %}

    <title>
      {% block title %} Luxury Services {% endblock %}
    </title>
  </head>

  <body>
    <div class="container">
      {% block nav %} {% endblock %} {% block body %}{% endblock %} {% block
      footer %} {% endblock %}
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
